.x-tap {
  border: 2px solid white;
  padding: 30px;
  display: block;
  background: rgba(200, 54, 54, 0.5);
  min-width: 50px;
  min-height: 50px;
}

.x-tap .btn{
  display: inline-block;
  min-width: 40px;
  height: 15px;
  background: white;
  border: 1px solid black;
  font-style: normal;
}