.x-tap {
  border: 2px solid #FFF;
  padding: 20px;
  display: block;
  background: rgba(200, 54, 54, 0.4);
  text-align: center;
  margin: 20px;
}

.x-tap button{
  display: block;
  margin: 5px auto;
}